h1, h2, h3, .button, body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    cursor: default;
    font-family: "Open Sans Hebrew","Helvetica Neue",tahoma,Helvetica,Arial,sans-serif;
    color: #2596be;
    background-color: #272727;
}

.year_header {
    color: #1c799a;
}

/* Button used in return home and go back */
.button {
    font-family: "Open Sans Hebrew", "Helvetica Neue", Tahoma, Helvetica, Arial, sans-serif;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white; 
    background-color: #333; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #2596be; /* A shade for hover effect */
    color: #f4f4f4; /* Text color on hover */
}

.button:active {
    background-color: #1e719b; /* Darker shade for active state */
    transform: translateY(2px);
}

a, .accent-color {
    color: #007bff; /* Accent color */
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.segment {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.segment h1, h2, h3 {
    margin-top: 0;
    text-align: center;
}

.segment h2 {
    font-size: 2em;
}

.segment li{
    margin-bottom: 5px;
}

/* In index.html - introduction to the archive website. */
.intro p {
    text-align: right;
    direction: rtl;
    grid-column: span 3;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
}

.intro h1 {
    font-size: 4em;
    margin-bottom: 0;
    text-align: center;
}


.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Space between navbar items */
    align-items: center; /* Align items vertically */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Add some padding for better appearance */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20%;
}

a:hover, .navbar ul li a:hover {
    color: #0056b3; /* Darker shade of accent color */
}

/* When showing the actual links with the titles */
.links {
    display: flex;
    justify-content: space-between;
    align-items: right;
    text-align: right;
    direction: rtl;
    margin-top: 10px;
}

.upper_notes {
    direction: rtl;
    text-align: right;
    align-items: center;
}


.date_header {
    direction: rtl;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}
/* article {
    margin-bottom: 20px;
}
article h1, article h2, article h3 {
    color: #333;
}
article p {
    line-height: 1.6;
} */



/* img {
    max-width: 100%;
    height: auto;
} */

/* @media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
} */

