{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div class="intro">
  <h1>Ads Page</h1>
</div>
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4638207065833948"
  crossorigin="anonymous"
></script>
<!-- AdsPage -->
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-pub-4638207065833948"
  data-ad-slot="5202692340"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}
