{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div class="intro">
  <h1>Ads Page</h1>
</div>
<script
  async="async"
  data-cfasync="false"
  src="//thubanoa.com/1?z=7284294"
></script>
<script
  data-cfasync="false"
  type="text/javascript"
  src="../static/js/attractive_tag.js"
></script>
<script>
  (function (d, z, x, s, e, o) {
    s.src = "//" + d + "/tag.min.js";
    x.withCredentials = true;
    x.open("GET", "//" + d + "/5/" + z + "/?oo=1&aab=1", !0);
    s.onerror = x.onerror = E;
    s.onload = x.onload = g;
    x.send();
    (document.body || document.documentElement).appendChild(s);
    function g() {
      o = this.response ? JSON.parse(this.response) : o;
      o && window.kkp4a5x5tv && window.kkp4a5x5tv(o);
    }
    function E() {
      e && e();
      e = null;
    }
  })(
    "psockapa.net",
    7284369,
    new XMLHttpRequest(),
    document.createElement("script"),
    _digbvwl
  );
</script>
<!-- <script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4638207065833948"
  crossorigin="anonymous"
></script> -->
<!-- AdsPage -->
<!-- <ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-pub-4638207065833948"
  data-ad-slot="5202692340"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
{% endblock %}
