<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>ארכיון מוספי הארץ</title>
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo2.ico"
    />
    <!-- CSS for the Algolia search function -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"
    />

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4638207065833948"
      crossorigin="anonymous"
    ></script>
    {% block head %} {% endblock %}
  </head>
  <nav class="navbar">
    <div>
      <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
      <script>
        const { autocomplete } = window["@algolia/autocomplete-js"];
      </script>

      <ul>
        {% for segment in segments %}
        <li>
          <a href="{{ url_for('show_segment', segment=segment) }}"
            >{{ segment }} - {{ segment+4 }}</a
          >
          {% if segment_years[segment] %}
          <div class="year-dropdown">
            {% for year in segment_years[segment] %}
            <a href="{{ url_for('show_segment', segment=segment, year=year) }}"
              >{{ year }}</a
            >
            {% endfor %}
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <!-- <button onclick="goBack()" class="button">חזרה אחורה</button> -->
      <!-- <a href="{{ url_for('index') }}" class="button">לעמוד הראשי</a> -->
      <a href="{{ url_for('index') }}" class="button">
        <img
          src="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo.svg"
        />
      </a>
    </div>
  </nav>
  <body>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    {% block body %} {% endblock %}
    <footer>
      <p>
        <strong>Disclaimer:</strong> This archive is independently created and
        is not affiliated with Haaretz. It is intended solely for organizing and
        facilitating access to publicly available web pages of the weekend
        magazines. <br />
        Accessing full content of these magazines still requires a valid
        subscription to Haaretz. This archive does not host or reproduce Haaretz
        content illegally.
      </p>
      <p>&copy; 2024 ChefAharoni. All rights reserved.</p>
      <p><a href="mailto:support@haaretzarchive.tech">Contact Us</a></p>
      <p>
        <a href="https://github.com/ChefAharoni/HaaretzMusafim">
          <img
            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
            alt="GitHub Logo"
            style="
              height: 20px;
              width: 20px;
              vertical-align: middle;
              background: transparent;
            "
          />
          GitHub Repo
        </a>
      </p>
      <a href="https://www.buymeacoffee.com/ChefAharoni" target="_blank"
        ><img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
          alt="Buy Me A Coffee"
          style="height: 40px !important; width: 170px !important"
      /></a>
      <p>
        <a href="/ads">Ads</a> |
        <a href="/privacy_policy">Privacy Policy</a>
      </p>
    </footer>
  </body>
</html>

<!--
            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
            src="../assets/github-mark/github-mark.png"
            I tried to use the logo without the white background, didn't work for some reason.
            <link rel="icon" type="image/svg+xml" href="/assets/ArchiveLogo.svg" />

          <a href="https://www.patreon.com/ChefAharoni" target="_blank"
        ><img
          src="https://c5.patreon.com/external/logo/become_a_patron_button.png"
          alt="Become a Patron!"
          style="height: 40px !important; width: 170px !important;"></a>
-->
