<!DOCTYPE html>
<html lang="he">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JDV3DSX0Z0"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JDV3DSX0Z0");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="monetag" content="1a1738ceefdb4445060c09f497480c9c" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/simple-search.css') }}"
    />
    <title>ארכיון מוספי הארץ</title>
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo2.ico"
    />

    <meta
      name="description"
      content="ארכיון למוספי הארץ. פורטל לינקים של מוספי הארץ, בחלוקה לפי שנים, חודשים, וסופשי שבוע."
    />
    <meta
      name="keywords"
      content="ארכיון, מוספי הארץ, הארץ, עיתון, מוסף, מוספים, מגזין, עיתון הארץ, ארכיון הארץ, ארכיון סוף השבוע, 20 שאלות, טיסות נכנסות/יוצאות, סופשבוע, מוסף עיתון הארץ, מוסף הארץ, סוף השבוע"
    />
    <meta name="author" content="ChefAharoni" />
    <!-- Specifies that search engines should index and follow the links on this page -->
    <meta name="robots" content="index, follow" />
    <!-- Metadata for social media-->
    <meta property="og:title" content="ארכיון מוספי הארץ" />
    <meta
      property="og:description"
      content="ארכיון למוספי הארץ. פורטל לינקים של מוספי הארץ, בחלוקה לפי שנים וימים."
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo.svg"
    />
    <meta property="og:url" content="https://haaretzarchive.tech/" />

    <!-- Google Adsense -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4638207065833948"
      crossorigin="anonymous"
    ></script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "ארכיון מוספי הארץ",
        "url": "https://haaretzarchive.tech/",
        "logo": "https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo.svg",
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "support@haaretzarchive.tech",
          "contactType": "Customer Support"
        }
      }
    </script>

    {% block head %} {% endblock %}
  </head>
  <!-- Updated navbar structure -->
  <nav class="navbar">
    <div class="navbar-left">
      <ul>
        {% for segment in segments %}
        <li>
          <a href="{{ url_for('show_segment', segment=segment) }}"
            >{{ segment }} - {{ segment+4 }}</a
          >
          {% if segment_years[segment] %}
          <div class="year-dropdown">
            {% for year in segment_years[segment] %}
            <a href="{{ url_for('show_segment', segment=segment, year=year) }}"
              >{{ year }}</a
            >
            {% endfor %}
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="navbar-right">
      <div id="search-container" class="search_container">
        <div class="search-form">
          <input type="text" id="search-input" placeholder="חיפוש מוספים..." />
          <button id="search-button">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z"
                fill="#2596be"
              />
            </svg>
          </button>
        </div>
        <div id="search-results"></div>
      </div>

      <a href="{{ url_for('index') }}" class="button">
        <img
          src="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo.svg"
          alt="Haaretz Archive Website Logo"
        />
      </a>
    </div>
  </nav>
  <body>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    <div id="bthn" lang="en"></div>
    <script>
      (function () {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://bringthemhomenow.net/1.0.8/hostages-ticker.js";
        script.setAttribute(
          "integrity",
          "sha384-jQVW0E+wZK5Rv1fyN+b89m7cYY8txH4s3uShzHf1T51hdBTPo7yKL6Yizgr+Gp8C"
        );
        script.setAttribute("crossorigin", "anonymous");
        document.getElementsByTagName("head")[0].appendChild(script);
      })();
    </script>
    {% block body %} {% endblock %}

    <footer>
      <p>
        <strong>Disclaimer:</strong> This archive is independently created and
        is not affiliated with Haaretz. It is intended solely for organizing and
        facilitating access to publicly available web pages of the weekend
        magazines. <br />
        Accessing full content of these magazines still requires a valid
        subscription to Haaretz. This archive does not host or reproduce Haaretz
        content illegally.
      </p>
      <p>&copy; 2025 ChefAharoni. All rights reserved.</p>
      <p><a href="mailto:support@haaretzarchive.tech">Contact Us</a></p>
      <p>
        <a href="https://github.com/ChefAharoni/HaaretzMusafim">
          <img
            src="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/github-mark/github-mark.svg"
            alt="GitHub Logo"
            style="height: 20px; width: 20px; background: transparent"
          />
          GitHub Repo
        </a>
      </p>
      <a href="https://www.buymeacoffee.com/ChefAharoni" target="_blank"
        ><img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
          alt="Buy Me A Coffee"
          style="height: 40px !important; width: 170px !important"
      /></a>
      <p>
        <a href="/ads">Ads</a> |
        <a href="/privacy_policy">Privacy Policy</a>
      </p>
    </footer>

    <!-- Algolia search scripts -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch.umd.min.js"></script>
    <script src="{{ url_for('static', filename='js/simple-algolia-search.js') }}"></script>
  </body>
</html>
