{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="intro">
  <h1>ארכיון מוספי הארץ</h1>
</div>

<br class="intro">
  <br>
    אתר זה מהווה שער לארכיון מוספי הארץ. נא לבחור את התאריך הרצוי מתוך התפריט בראש הדף. 
</br>
    מטרת האתר היא לארגן את המוספים בצורה נוחה ונגישה.
</br>
על מנת לגשת למוספים המוצגים באתר, יש להיות מנויים פעילים של אתר  הארץ; </br> </br>
כל המוספים המוצגים באתר נלקחים מאתר הארץ ומוצגים באתר זה באופן אוטומטי.
 האתר <strong>אינו</strong>  מאפשר גישה למוספים המוצגים באתר למשתמשים שאינם מנויים פעילים.
</br></br>
אין בכוונת מפעילי האתר להפיר שום חוק - אם ידוע לכם על בעיה כלשהיא באתר, נא לפנות אלינו באמצעות הלינק בתחתית העמוד.
  </p>
  <!-- <img src="https://raw.githubusercontent.com/ChefAharoni/HaaretzMusafim/main/assets/ArchiveLogo.svg" style="height: 50vh; width:auto; align-content: center;"> -->
</div>
{% endblock %}
