{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<div class="intro">
  <h1>ארכיון מוספי הארץ</h1>
</div>

<div class="intro">
  <p>
    אתר זה מהווה שער לארכיון מוספי הארץ. משתמשים יכולים לבחור קבוצת שנים ולאחר
    מכן לבחור בשנה הרצויה כדי לגשת למאמרים ותכנים שונים. המטרה היא לארגן את
    המוספים בצורה נוחה ונגישה לגולש, תוך שמירה על ממשק משתמש פשוט ונקי.
  </p>
</div>
<!-- <div class="container">
  <h1>Select a Year Group</h1>
  <ul>
    {% for segment in segments | reverse %}
    <li>
      <a href="{{ url_for('show_segment', segment=segment) }}"
        >{{ segment }} - {{ segment+4 }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div> -->
{% endblock %}
