<!-- Sample structure for links.html -->
{% extends "base.html" %} {% block body %}
<h1 class="date_header">לינקים לתאריך: {{ date }}</h1>
<div class="upper_notes">
  <p>
    <strong>הערה:</strong>
    כל הלינקים מובילים לאתר הארץ. כדי לקרוא את המוסף המלא, יש להתחבר לאתר הארץ
    עם המנוי האישי.
  </p>
</div>
<div class="links">
  <ul>
    {% for url in titles_urls %}
    <li><a href="{{ url }}" target="_blank">{{ titles_urls[url] }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

<!-- 
        for url in all_urls[date]:
        print(url)
        print(all_urls[date][url])
 -->
