<!-- Sample structure for links.html -->
{% extends "base.html" %} {% block body %}
<h1 class="date_header">לינקים לתאריך: {{ date }}</h1>
<div class="upper_notes">
  <p>
    <strong>הערה:</strong>
    כל הלינקים מובילים לאתר הארץ. כדי לקרוא את המוסף המלא, יש להתחבר לאתר הארץ
    עם המנוי האישי.
  </p>
</div>
{% if weekend_urls != {} %}
<div class="links">
  <ul>
    {% for url in weekend_urls %}
    <li>
      <a href="{{ url }}" target="_blank">{{ weekend_urls[url] }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% elif only_urls != [] %}
<h4 class="upper_notes">
  בזמן שאנחנו עובדים על השגת הכותרות, מוזמנים להסתכל על הלינקים:
</h4>
<div class="links">
  <ul>
    {% for url in only_urls %}
    <li>
      <a href="{{ url }}" target="_blank">{{ url }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<div class="error_message">
  <h3>מצטערים, לא הצלחנו להביא לינקים ליום זה.</h3>
</div>
{% endif %} {% endblock %}
